h1{
  color:white; 
} 
#contactus
{
  font-size: 50px;
}

.heading
{
  padding-top:45px;
  font-family: arial;
}
.base{
   color:green;
   font-size: 15px;
   
}

form{
    font-size:30px;
    color:white;
   
}
button
{
  width:100%;
}

body{ 
  text:auto;
    }

div.vertical-line{ color:white;}

input,textarea{ max-width:auto;}

.headpart
{
   font-size:40px;
}

.c{
  color:red;
  font-size:30px;
  font-family:arial;
}

p{ font-size:20px;}

@media only screen and(max-width:1024px){  
  h1{
      color:white;
      text-transform:auto;
    }


   .base{
   font-size:12px;
   color:green;
   font-style: italic;}

    form{
       font-size:20px;
       color:white;
      
    }

    body{ text:auto;}

    div.vertical-line{ color:white;}

    input,textarea{ max-width:auto;}

    button{ size:50px;
      color: blue;
    }

    .c{
      color:red;
      font-size:30px; 
    }
 
   .headpart{
   font-size:40px;}
   
   p{ font-size:20px;}   
}

@media only screen and(max-=width:760px){  
    h1{
      
      color:white;
      text-transform:auto;
    
    }

    .contactus {
      font-size:35px;
    }

    .base{
       font-size:25px;
       color:green;
       font-style: italic;
       margin:20px;
    }

    form{
       font-size:25px;
       color:white;
       margin:20px;
    }

    body{ text:auto;}

    div.vertical-line{ color:white;}

    input,textarea{ max-width:auto;}

    button{ size:45px;
      color: blue;
    }

    .c{
      color:red;
      font-size:25px; 
    }
    .headpart{
      font-size:40px;}
    
    p{ font-size:20px;}
}

@media only screen and(max-width:640px){  
    h1{
      position:fixed;
      font-size:50px;
      color:white;
      text-transform:auto;
      margin:auto;
      padding:40px;
    }
    #contactus
    {
      font-size:20px;
    }
   .base{
      font-size:30px;
      color:green;
      font-style: italic;
      margin:20px;
    }

    form{
       font-size:20px;
       color:white;
       margin:20px;
    }

    body{ text:auto;}

    div.vertical-line{ color:white;}

    input,textarea{ max-width:auto;}

    button{ 
      color: blue;
    }

    .c{
      color:red;
      
    }
    .headpart{
   font-size:40px;}

   p{font-size: 20px;}
}

@media only screen and(max-width:480px){  
    h1{
  
      font-size:20px;
      color:white;
      text-transform:auto;

    }

#contactus
{
  font-size: 30px;
}

.heading
{
  padding-top:10px;
}

.base{
        font-size:20px;
       color:green;
       font-style: italic;
       padding:15px;
       margin:auto;
}

    form{
       font-size:15px;
       color:white;
       padding:15px;
       margin:20px;
    }

    body{ text:auto;}

    div.vertical-line{ color:white;}

    input,textarea{ max-width:auto;}

    button{
      color: blue;

    }

    .c{
      color:red;
      
    }

    p{font-size:20px;}
    .headpart{
   font-size:40px;}
}
