body,
html,
main {
    background-color: #000
}

body,
html {
    font-family: 'Poiret One', cursive;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden
}

html * {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004)
}

ul {
    list-style-type: none
}

a:active,
a:link,
a:visited {
    text-decoration: none
}

main {
    position: relative;
    z-index: 2;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    padding: 200px 5%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    transition: transform .7s;
    -webkit-transition-timing-function: cubic-bezier(.91, .01, .6, .99);
    -moz-transition-timing-function: cubic-bezier(.91, .01, .6, .99);
    transition-timing-function: cubic-bezier(.91, .01, .6, .99)
}

.intro,
.nav,
.nav-trigger .nav-icon,
.nav-trigger svg {
    position: absolute
}

.intro,
.intro-body,
.safari .intro {
    height: 100%;
    width: 100%
}

#clockdiv div>span,
#clockdiv>div {
    border-radius: 3px;
    background: 0 0
}

.intro {
    display: table;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.intro h2 {
    font-weight: 600
}

.safari .intro {
    display: table;
    position: relative
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
    color: #dce9e7;
    font-weight: 700
}

.intro-body>h1 {
    color: #dce9e7;
    font-size: 60px;
    font-weight: bolder
}

#clockdiv {
    color: #dce9e7;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    font-size: 30px
}

.list-inline>li>a,
.timer {
    color: #fff
}

#clockdiv>div {
    padding: 10px;
    display: inline-block
}

#clockdiv div>span {
    padding: 15px;
    display: inline-block
}

.timer {
    padding-top: 5px;
    font-size: 16px
}

.list-inline {
    padding-top: 50px
}

.list-inline>li:nth-child(1)>a:focus,
.list-inline>li:nth-child(1)>a:hover {
    color: #3b5999
}

.list-inline>li:nth-child(2)>a:focus,
.list-inline>li:nth-child(2)>a:hover {
    color: #55acee
}

.list-inline>li:nth-child(3)>a:focus,
.list-inline>li:nth-child(3)>a:hover {
    color: #3f729b
}

.navigation-is-open main {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
}

.nav-trigger {
    position: fixed;
    z-index: 3;
    left: 5%;
    top: 20px;
    height: 54px;
    width: 54px;
    background-color: #31A19F;
    border-radius: 50%;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s
}

.nav-trigger .nav-icon {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: #fff
}

.nav-trigger .nav-icon::before,
.nav-trigger .nav-icon:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .5s, width .5s, top .3s;
    -moz-transition: -moz-transform .5s, width .5s, top .3s;
    transition: transform .5s, width .5s, top .3s
}

.nav-trigger .nav-icon::before {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px)
}

.nav-trigger .nav-icon::after {
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px)
}

.no-touch .nav-trigger:hover .nav-icon::after {
    top: 2px
}

.no-touch .nav-trigger:hover .nav-icon::before {
    top: -2px
}

.nav-trigger svg {
    top: 0;
    left: 0
}

.nav-trigger circle {
    -webkit-transition: stroke-dashoffset .4s 0s;
    -moz-transition: stroke-dashoffset .4s 0s;
    transition: stroke-dashoffset .4s 0s
}

.navigation-is-open .nav-trigger .nav-icon::after,
.navigation-is-open .nav-trigger .nav-icon::before {
    width: 50%;
    -webkit-transition: -webkit-transform .5s, width .5s;
    -moz-transition: -moz-transform .5s, width .5s;
    transition: transform .5s, width .5s
}

.navigation-is-open .nav-trigger .nav-icon::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.navigation-is-open .nav-trigger .nav-icon::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.no-touch .navigation-is-open .nav-trigger:hover .nav-icon::after,
.no-touch .navigation-is-open .nav-trigger:hover .nav-icon::before {
    top: 0
}

.navigation-is-open .nav-trigger circle {
    stroke-width: 2;
    stroke-dashoffset: 0;
    overflow-y: scroll;
    -webkit-transition: stroke-dashoffset .4s .3s;
    -moz-transition: stroke-dashoffset .4s .3s;
    transition: stroke-dashoffset .4s .3s
}

@media only screen and (min-width:1170px) {
    .nav-trigger {
        top: 40px
    }
}

.nav {
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: visibility 0s .7s;
    -moz-transition: visibility 0s .7s;
    transition: visibility 0s .7s
}

.nav .navigation-wrapper {
    height: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    transition: transform .7s;
    -webkit-transition-timing-function: cubic-bezier(.86, .01, .77, .78);
    -moz-transition-timing-function: cubic-bezier(.86, .01, .77, .78);
    transition-timing-function: cubic-bezier(.86, .01, .77, .78)
}

.sub-one,
.team-one-button {
    -webkit-backface-visibility: hidden
}

.navigation-is-open .nav {
    visibility: visible;
    overflow-y: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s
}

.navigation-is-open .nav .navigation-wrapper {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
    -webkit-transition-timing-function: cubic-bezier(.82, .01, .77, .78);
    -moz-transition-timing-function: cubic-bezier(.82, .01, .77, .78);
    transition-timing-function: cubic-bezier(.82, .01, .77, .78)
}

.nav h2 {
    position: relative;
    margin-bottom: 1.7em;
    font-size: 1.3rem;
    font-weight: 800;
    color: #FF522B;
    text-transform: uppercase
}

.nav h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 1px;
    width: 60px;
    background-color: currentColor
}

.nav .navbar {
    z-index: 10
}

.nav .primary-nav {
    float: right
}

.nav .primary-nav>li {
    display: inline-block;
    padding: 3vw;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase
}

.no-touch .nav .primary-nav a {
    color: rgba(256, 256, 256, .6);
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

#nav>nav>ul>li>a:hover {
    color: rgba(256, 256, 256, 1)
}

.committee-info-body {
    padding: 10%
}

.committee-info-body p {
    font-size: 20.84px;
    color: #fff
}

.committee-info-body h1 {
    font-size: 4.9vh;
    color: #FF522B;
    font-weight: 700;
    padding-bottom: 40px
}

@media (max-width:767px) {
    .nav .navbar {
        visibility: hidden;
        margin-top: 12px;
        height: 2px
    }
    .nav .primary-nav {
        height: 4px
    }
    .intro-body h2 {
        display: none;
        font-size: 0
    }
    .intro-body h1 {
        font-size: 44px
    }
    #clockdiv div>span {
        padding: 1px
    }
    #clockdiv>span {
        font-size: 10px
    }
    .list-inline {
        padding-top: 30px
    }
    .committee-info-body p {
        font-size: 12.84px
    }
    .committee-info-body h1 {
        padding-bottom: 10px;
        padding-top: 25px
    }
    .nav-trigger {
        background: 0 0
    }
}

.team-info {
    position: relative;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    display: table;
    width: 100%;
    background-color: #03202E
}

.team-info-body {
    display: table-cell;
    vertical-align: middle;
    font-size: 3vh;
    color: #fff;
    padding: 1%
}

.avatar,
.avatar a,
.sub-one,
h3 span {
    display: block
}

.team-list {
    width: 100%;
    font-weight: 700;
    margin: 100px auto;
    list-style: none;
    padding: 0;
    text-align: center;
}

.team-list li {
    margin: 0;
    padding-bottom: 60px
}

@media only screen and (min-width:500px) {
    .team-list li {
        float: left;
        width: 50%;
        clear: none;
        margin: 0;
    }
}

@media only screen and (min-width:800px) {
    .team-list li {
        width: 33%;
        clear: none;
    }
}

.avatar {
    transform: scaleX(.75);
    -ms-transform: scaleX(.75);
    -webkit-transform: scaleX(.75);
    width: 160px;
    height: 160px;
    margin: 0 auto 3em;
}

.avatar a {
    overflow: hidden;
    transition: all .5s ease-in;
}

h3 {
    margin: 0;
    font-weight: 700;
    line-height: 1.4em;
    text-rendering: optimizelegibility;
}

h3 span {
    border: none;
    color: #9d9d9d;
    font-size: .7em;
    letter-spacing: 1px;
}

.team-one-button {
    height: 150px;
    width: 180px;
    border-radius: 50%;
    border: 5px solid #888;
    position: relative;
    background: url('https://avatars2.githubusercontent.com/u/14110960?v=3&s=96');
    background-size: contain;
}

.sub-one {
    position: absolute;
    top: 72px;
    left: 72px;
    background: #000;
    height: 16px;
    width: 16px;
    opacity: 0;
    border-radius: 50%;
    z-index: 1;
    text-decoration: none;
}

.sub-one span {
    position: relative;
    left: 62.4px;
    top: -33.6px;
    opacity: 0;
    visibility: hidden
}

.sub-one.has-focus span {
    visibility: visible;
    white-space: nowrap;
    opacity: 1;
    transition: opacity .3s
}

.sub-one.sibling-has-focus,
.sub-one.sibling-has-focus:before {
    background: #000;
    transition: opacity .3s;
    border-color: transparent;
    z-index: 0
}

.team-one-button.active {
    border-color: #FF522B
}

.team-one-button.active .sub-one {
    opacity: 1;
    height: 48px;
    width: 48px;
    cursor: pointer;
    transition: opacity .3s, width .3s, height .3s, top .3s cubic-bezier(0, .345, 0, 1.505), left .2s cubic-bezier(0, .345, 0, 1.505);
}

.team-one-button.active .sub-one:hover {
    color: #555
}

.team-one-button.active .one {
    top: -106.4px;
    left: 56px;
    background-color: #0085AE
}

.team-one-button.active .two {
    top: -84.64px;
    left: 137.2px;
    background-color: #3b5999
}

.team-one-button.active .three {
    top: -25.2px;
    left: 196.64px;
    background-color: #555
}

.about-info,
.vision-info {
    position: relative;
    top: 0;
    left: 0;
    width: 100%
}

.sub-one:before {
    display: block;
    height: 100%;
    width: 100%;
    color: #888;
    font-size: 41.28px;
    text-align: center;
    line-height: 1.3em
}

.sub-one .fa {
    color: #fff;
    margin-top: 12px
}

.about-info {
    height: 10%;
    display: table;
    background-image: repeating-linear-gradient(rgba(3, 32, 46, .6), rgba(3, 0, 0, .4)), url(../img/msit.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.about-info-body {
    display: table-cell;
    vertical-align: middle;
    font-size: 2vh;
    color: #fff;
    padding: 5%;
    margin-bottom: 12%
}

.about-info-body p {
    font-size: 20.84px;
    padding-bottom: 40px
}

.about-info-body h1 {
    font-size: 4.9vh;
    color: #FF522B;
    font-weight: 700;
    padding-bottom: 40px
}

.vision-info {
    z-index: 7;
    height: 100%;
    display: table;
    background-color: #17465b
}

.vision-info-body {
    padding: 10%;
    font-size: 2.3vh;
    color: #fff
}

.vision-info-body h1 {
    font-size: 5.9vh;
    color: #FF522B;
    font-weight: 700;
    padding-top: 2%;
    padding-bottom: 40px
}

.quote {
    position: absolute;
    left: 4vw;
    top: 18vh;
    z-index: -11
}

@media (max-width:767px) {
    .quote {
        left: 4vw;
        top: 10vh;
        opacity: 0.8;
    }
}

#particles-js,
.slide {
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%
}

.no-js main {
    height: 100%;
    overflow: visible
}

.no-js .nav {
    position: static;
    visibility: visible
}

.no-js .nav .navigation-wrapper {
    height: auto;
    width: 100%;
    overflow: visible;
    padding: 100px 5%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

#particles-js {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 99.7%;
    left: 0;
    background-image: repeating-linear-gradient(rgba(3, 32, 46, .6), rgba(3, 0, 0, .4)), url(../img/background.jpg)
}

#map {
    width: 100%;
    height: 60%
}

.footer-distributed {
    background-color: #111;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 55px 50px
}

.footer-distributed .footer-center,
.footer-distributed .footer-left,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top
}

.footer-distributed .footer-left {
    width: 40%
}

.footer-distributed h3 {
    color: #fff;
    margin: 0
}

.footer-distributed h3 span {
    color: #0f9999
}

.footer-distributed .footer-links {
    color: #fff;
    margin: 20px 0 12px;
    padding: 0
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: 700;
    margin: 0
}

.footer-distributed .footer-center {
    width: 35%
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #fff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: 0
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 2
}

.footer-distributed .footer-center p a {
    color: #01CBCC;
    text-decoration: none
}

.footer-distributed .footer-right {
    width: 20%
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: 700;
    margin: 0
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px
}

.footer-distributed .footer-icons {
    margin-top: 25px
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px
}

.slide,
.slides {
    width: 100%;
    height: 100%
}

footer .fa:hover {
    color: #0f9999
}

@media (max-width:880px) {
    .footer-distributed {
        font: 700 14px
    }
    .footer-distributed .footer-center,
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center
    }
    .footer-distributed .footer-center i {
        margin-left: 5vw
    }
    .footer-distributed div:nth-child(2) {
        text-align: left
    }
    .footer-distributed .footer-right .footer-icons {
        text-align: center
    }
}

.slides {
    padding: 0;
    display: block;
    margin: 0 auto;
    position: relative
}

.nav-dots,
.slide,
.snav label {
    position: absolute
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none
}

.slides input {
    display: none
}

.slide,
.slide-container {
    display: block
}

.slide {
    opacity: 0;
    transform: scale(0);
    transition: all .7s ease-in-out
}

.snav label {
    width: 100px;
    height: 100%;
    display: none;
    opacity: .3;
    z-index: 9;
    cursor: pointer;
    transition: opacity .9s;
    color: #fff;
    font-size: 106pt;
    text-align: center;
    line-height: 680px;
    font-family: "Varela Round", sans-serif;
    text-shadow: #777
}

.nav-dots,
input:checked+.slide-container .snav label {
    display: block
}

.slide:hover+.nav label {
    opacity: .5
}

.snav label:hover {
    opacity: 1
}

.nav .next {
    right: 0
}

input:checked+.slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out
}

.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    text-align: center
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(256, 256, 256, .4)
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(256, 256, 256, .7)
}

input#img-1:checked~.nav-dots label#img-dot-1,
input#img-2:checked~.nav-dots label#img-dot-2,
input#img-3:checked~.nav-dots label#img-dot-3,
input#img-4:checked~.nav-dots label#img-dot-4,
input#img-5:checked~.nav-dots label#img-dot-5,
input#img-6:checked~.nav-dots label#img-dot-6 {
    background: rgba(256, 256, 256, 1)
}
